<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            <h3>Alstublieft, uw wachtwoord</h3>

            <span class="timestamp">Geplaatst <span dir="ltr">
              7 jul. 2012 08:57
            </span> door Christiaan Westerbeek</span>

            <table cellspacing="0" class="sites-layout-name-one-column sites-layout-hbox">
              <tbody>
                <tr>
                  <td class="sites-layout-tile sites-tile-name-content-1">
                    <div dir="ltr">
                      Op sites waar gebruikers kunnen inloggen, worden gebruikersnamen en wachtwoorden in een database bewaard. Nog veel bedrijven nemen niet de moeite om dat op een veilige manier te doen. Daar is het mogelijk je wachtwoord via email te laten sturen naar het emailadres dat is gekoppeld aan je account. Dat betekent dat jouw wachtwoord op een leesbare manier is opgeslagen. Leesbaar voor het systeem dat het wachtwoord verstuurt, maar met minder of meer moeite ook leesbaar voor kwaadwillende medewerkers en hackers.
                      <div>
                        <div>
                          <br>
                          Met deze onnodige strategie gooit u de privacy van al uw klanten te grabbel. Mocht u (als beursgenoteerde onderneming) dat niet interesseren, denk dan eens aan de imagoschade die u kunt oplopen door koppen als deze op NU.nl.
                        </div>
                        <div>
                          <br>
                        </div>
                        <div>
                          <h1 style="font-family:Arial,helvetica,sans-serif;margin:0px 0px 8px;padding:0px;border:0px;outline:0px;background-color:rgb(234,240,250);line-height:30px;color:rgb(2,0,81)">
                            <a name="TOC-Vodafone-slaat-wachtwoorden-onversleuteld-op">
                            </a>
                            <font size="4">
                              <a href="http://www.nu.nl/internet/2847807/vodafone-slaat-wachtwoorden-onversleuteld.html">
                                Vodafone slaat wachtwoorden onversleuteld op
                              </a>
                            </font>
                          </h1>
                        </div>
                        <br>
                        <div>
                          Van wachtwoorden mogen alleen hashes opgeslagen worden, waarbij ook het zout niet vergeten mag worden. Wachtwoorden stuur je niet op, maar je stuurt een email naar de gebruiker met daarin de link naar een pagina op uw site waar de gebruiker zijn nieuwe wachtwoord kan invullen.
                        </div>
                        <div>
                          <br>
                        </div>
                        <div>
                          <div>
                            Recent heb ik een waarschuwing en advies gestuurd naar een aantal bedrijven, die wachtwoorden leesbaar opslaan. Ik hoop dat ze hier opvolging aan geven.
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
  
            
        </div>
    </div>
</div>

