<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            <h3><script type="IN/CompanyProfile" data-id="2436721" data-format="hover" data-text="Devotis"></script> / Contact</h3>
            <hr/>
        </div>
        <div class="span4">
            Devotis<br />
            Paul Schuitemastraat 54<br />
            3059 PK  Rotterdam<br />
            The Netherlands<br />
            <br />
            info@devotis.nl<br />
            M: +31 6 2824 0686<br />
            F: +31 84 00 34 34 7 (because I can)<br />
            <br />
            CoC: 542.192.48 Rotterdam, The Netherlands<br />
            <br />
            
            <iframe
                width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://maps.google.nl/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Paul+Schuitemastraat+54,+Prins+Alexander,+Rotterdam&amp;aq=t&amp;sll=51.982734,4.587433&amp;sspn=0.001161,0.00327&amp;ie=UTF8&amp;hq=&amp;hnear=Paul+Schuitemastraat+54,+3059+PK+Prins+Alexander,+Rotterdam,+Zuid-Holland&amp;t=m&amp;ll=51.982448,4.587393&amp;spn=0.015859,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed">
            </iframe><br />
            <small><a href="https://maps.google.nl/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Paul+Schuitemastraat+54,+Prins+Alexander,+Rotterdam&amp;aq=t&amp;sll=51.982734,4.587433&amp;sspn=0.001161,0.00327&amp;ie=UTF8&amp;hq=&amp;hnear=Paul+Schuitemastraat+54,+3059+PK+Prins+Alexander,+Rotterdam,+Zuid-Holland&amp;t=m&amp;ll=51.982448,4.587393&amp;spn=0.015859,0.025749&amp;z=14&amp;iwloc=A"
                      style="color:#0000FF;text-align:left">View Larger Map</a>
            </small>
        </div>
        <div class="span8">
            <img src="img/wordle.png"><br />
            <i>When I started making content for the original website, I was looking at a blank slate. At which time I created this wordle.<br />
            There's not much more use for it then filling this otherwise empty space.</i><br />         
        </div>
    </div>
</div>

