<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            <h3>Clang</h3>
            <hr>
        </div>
        <div class="span10">
            <p>Clang is a product by <a href="http://www.e-village.nl/">E-village</a> that allows you to plan, execute and monitor multi-channel communication campaigns.
            The emphasis is on e-mail communication. Clang exposes an API to allow (real-time/scheduled and one off/batch) connections with other systems.</p>
            
            <p>Devotis implemented those connections with Clang for Leads to Loyals on several marketing platforms.</p>
        </div>
        <div class="span2">
            <img border="0" src="https://lh6.googleusercontent.com/-QIt8-RNLf7Q/UFDamHmVOkI/AAAAAAAAAko/_eM_g9pW2HY/s1600/clang%2Blogo.png" style="display:inline;margin:5px 10px 0px 0px;float:left">
        </div>
    </div>
</div>

