<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            <h3>Customers</h3>
            <hr/>
            <p>Devotis has been successful doing projects for the following organizations.</p>

            <a href="https://www.e-village.nl/">
              <img alt="e-Village" border="0" src="https://lh3.googleusercontent.com/rSM5tff0Ted2MD0VJEoKhgNmXhAgrKhNZUMbRrnlF75PeGzB84jpy8oFOEeHA6zp2rf5uGx45XippeiBBBHmVrM-NE7c__PVatwV9Wesqka4HrmexMS63spGn1dmkyLyy4QLATBU4xB3daxFMj3lqfo_03lZjbf8OBhvSDWYi_snefTYvWUFfr5nbOrZXwpCIbq9z1g4S64YXX5BxN1lsxfTFGz4mvODp6s-2Wfi-JUQOidLRwIQhDlyUKwF_dfywFV0U9X5uIvIONnjAlCxUzcJMXlh_Sw42Z6nAEdk5joMmlZc5xHU14i0pl2ozRppL2toHUH9QvGarne7JNp0Sfh5LqLJa9-fOXemn-2OTCmRlIHArrIr9teXhFAk2EfdlB4qZgAJv--56XGkN8jWjhgOXrqVK9TLOo-8r41Ba7zsm6q_lZyPQa12OT9tfUP4Ua0TQ9AWUwZ8YYQVlPW7TZ_G6DI80yvSH7gVlS_PeUy-vyiy1fxOejSTixib_YRCZ_xBxc8xR034YsSz4Pa5MpHeT8I1FevDGsSlg04MjIM=w228-h62-no" style="display:inline;float:right;margin:5px 10px">
            </a>

            <h4>e-Village</h4>
            <p>specialist in emailmarketing</p>
            <p>Devotis develops and advises on Ext JS 6 components to help port the Clang front-end to Ext JS 6.</p>
            <hr>

            <a href="http://www.leadstoloyals.nl">
              <img alt="Leads to Loyals" border="0" src="https://lh5.googleusercontent.com/-jRg6ly_AdIw/UF7PaJU-YEI/AAAAAAAAAlM/3zo67q6MsfI/s200/ltol.png" style="display:inline;float:right;margin:5px 10px">
            </a>
            <h4>Leads to Loyals</h4>
            <p>Leads to Loyals is a flexible, result-driven professionals with more then 25 years’ experience in developing, implementing, optimising and executing interactive marketing communication programmes.</p>
            <p>Devotis develops, maintains and advises on marketing platforms hosted by Leads to Loyals for their customers since January 2012.</p>
            <hr>

            <a href="http://www.nprc.nl">
              <img alt="NPRC" border="0" src="http://nprc.nl/sites/nprc.nl/files/custom_fixed_logo.png" style="display:inline;float:right;margin:5px 10px">
            </a>
            <h4>NPRC</h4>
            <p>NPRC annualy transports around 7 million tons of dry cargo over the European waterways with a fleet of approximately 90 inland barges with a combined tonnage of 175,000 tons.</p>
            <p>Devotis developed an application with Google Spreadsheet that allows NPRC and AkzoNobel to collaborate and exchange real time information about supply and demand of cargo.</p>
            <hr>

            <a href="http://www.id-factory.nl">
              <img alt="ID-Factory" border="0" src="https://lh4.googleusercontent.com/-mRKLMghzQGM/UI7gx-ZWpGI/AAAAAAAAA54/JgxoPQdAI4M/s400/idfactory.png" style="display:inline;margin:5px 10px;float:right">
            </a>
            <h4>ID Factory</h4>
            <p>
               Full&nbsp;service online marketing agency combining knowledge of online marketing and social media
               with CRM strategies with demonstrated and proven value add.
               ID Factory is one of the leading full service online marketing agencies in The Netherlands.</p>
            <hr>

            <a href="http://www.devotedonline.nl">
              <span style="color:#F3720C;font-family: georgia, palatino, 'book antiqua', 'palatino linotype', serif;font-size: 18px;font-style: italic;margin:5px 10px;float:right">DEVOTED ONLINE</span>
            </a>
            <h4>DEVOTED ONLINE</h4>
            <p>
               Devoted Online helpt ondernemers (FREELANCE, ZZP en MKB) bij het starten of verbeteren van hun online presence d.m.v. een website, social media en online marketing.</p>
            <hr>

            <a href="http://www.le-pep.nl">
                <img border="0" src="https://lh3.googleusercontent.com/-tOFVZfXp7YE/UI7i5dQzPoI/AAAAAAAAA6Y/tWFC5ncdl2A/s400/lepep.png" style="display:inline;margin:5px 10px;float:right">
            </a>
            <h4>Le PEP</h4>
            <p>Feminine dresses with French elegance and a hint of cool.</p>
            <p>
                Devotis advised Le Pep with deciding on its webshop software in 2012 Q2.
                In July 2012 Le PEP switched to Google Apps for Business.
                Configuration and training was provided by Devotis.
            </p>
            <hr>

            <a href="http://www.holda.nl">
              <img border="0" src="https://lh5.googleusercontent.com/-AgtR7sE8bWA/UI7gx49bZWI/AAAAAAAAA50/Sw7qf6MbyFo/s400/holda.png" style="display:inline;margin:5px 10px;float:right">
            </a>
            <h4>Holda Handelsonderneming</h4>
            <p>Since 1990 the specialist in machinery, tools and workshop equipment in The Netherlands</p>
            <p>Devotis configured, migrated and trained Holda to Google Apps for Business in September 2012.</p>
            <hr>

            <a href="http://www.insightera.com">
              <img border="0" src="https://lh5.googleusercontent.com/-SQdQldG9FPw/UI7gx9aLPVI/AAAAAAAAA5w/vDpOrXi5C30/s400/insightera.png" style="display:inline;margin:5px 10px;float:right">
            </a>
            <h4>Insightera</h4>
            <p>
                The first learning B2B personalization platform.
                With Insightera you engage your top-funnel prospects in real-time, while they are onsite and attentive
            </p>
            <p>
                Devotis advised and trained a team of developers to enable them to migrate their platform to use the Ext JS library using Sencha Architect.
            </p>
            <hr>

            <img border="0" src="https://lh3.googleusercontent.com/-KONAqlUSDZc/UI7h_puWVWI/AAAAAAAAA6I/DH2qJmtce1o/s400/nili.gif" style="display:inline;margin:5px 10px;float:right">
            <h4>Nili</h4>
            <p>Concept agency, copywriter and developer of innovative services and products.</p>

            <p>Devotis configured, migrated and trained Nili to Google Apps for Business in August 2012.</p>
        </div>
    </div>
</div>

