<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            <h3>Full Stack Development</h3>
            <hr/>

            <p>We employ an array of technologies and techniques for back-end and front-end development.</p>
            <ul>
                <li>Javascript, Node.js, Express, AngularJS, Firebase, AngularFire, Bootstrap</li>
                <li>Github, Git, Yeoman, Bower</li>
                <li>Sencha Ext JS 3 en 4, Sencha Architect</li>
                <li>Microsoft SQL Server, IIS, Classic ASP (JScript)</li>
                <li>HTML, CSS, JSON, REST, XML, AJAX, MVC, SOAP, UML</li>
                <li>Amazon AWS - EC2, S3, CloudFront, SES, SNS, SQS</li>
            </ul>
            <h3>Highlights</h3>
            <ul>
                <li>Serverless awesomeness with AngularFire, Firebase and AngularJS</li>
                <li>Node JS, Express, APIs and such</li>
                <li>Test/Behaviour Driven Development (TDD/BDD)</li>
                <li>Unique support for Classic ASP to Node JS migrations</li>
                <li>Speedy UI prototyping and desktop-like web applications with Ext JS and Sencha Architect</li>
            </ul>

            <h3>Links</h3>
            <ul>
                <li><a href="https://github.com/devotis">github.com/devotis</a></li>
                <li><a href="https://stackoverflow.com/users/1385429/christiaan-westerbeek">stackoverflow.com/users/1385429/christiaan-westerbeek</a></li>
                <li><a href="https://plus.google.com/u/0/+ChristiaanWesterbeekAtWork/posts">plus.google.com/u/0/+ChristiaanWesterbeekAtWork/posts</a></li>
                <li><a href="https://nl.linkedin.com/in/christiaanwesterbeek">nl.linkedin.com/in/christiaanwesterbeek</a></li>
                <li><a href="http://www.senchadevs.com/developers/devotis">Devotis op Sencha Devs</a></li>
            </ul>
        </div>
    </div>
</div>

