<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            <h3>Herman vriendschapskoek</h3>
            <hr/>
            <p>Herman is een vriendschapskoek die niet te koop is, maar alleen kan worden gedeeld.
                Hij groeit langzaam door het natuurlijke gistingsproces.</p>
            <p>Het duurt 10 dagen voor je hem kunt eten. Je hoeft hem niet in de koelkast te bewaren, want hij groeit op kamertemperatuur.
                Gewoon afdekken met een schone theedoek is genoeg.
            </p>
            <p><strong>Dag 1</strong>: Vandaag heb je Herman gekregen. Doe hem in een grote schaal en dek hem af met een theedoek.</p>
            <p><strong>Dag 2</strong>: Roer Herman een paar keer goed door.</p>
            <p><strong>Dag 3</strong>: Roer Herman een paar keer goed door.</p>
            <p><strong>Dag 4</strong>: Herman heeft honger. Geef hem 2 dl melk, 200 gr bloem en 200 gr suiker. Roer alles goed door elkaar.</p>
            <p><strong>Dag 5</strong>: Roer Herman een paar keer goed door.</p>
            <p><strong>Dag 6</strong>: Roer Herman een paar keer goed door.</p>
            <p><strong>Dag 7</strong>: Roer Herman een paar keer goed door.</p>
            <p><strong>Dag 8</strong>: Roer Herman een paar keer goed door.</p>
            <p><strong>Dag 9</strong>: Herman heeft honger. Geef hem 2 dl melk, 200 gr bloem en 200 gr suiker. Roer alles goed door elkaar. Verdeel hem vervolgens in 5 gelijke porties en geef 4 Hermannetjes weg met een kopie van deze brief.</p>
            <p><strong>Dag 10</strong>: Herman heeft reuze honger. Geef hem voordat hij in de grote hete oven gaat nog wat te eten:</p>
            <ul>
                <li>3 Eieren</li>
                <li>150 gram bloem</li>
                <li>2 theelepels kaneel</li>
                <li>300 gram suiker</li>
                <li>1 eetlepel bakpoeder</li>
                <li>2 geraspte appels</li>
                <li>100 gram fijngehakte chocolade</li>
                <li>100 gram fijngehakte noten</li>
                <li>1 dl olie / gesmolten boter</li>
            </ul>
            <p>Meng alles goed door elkaar en giet Herman in een ingevette bakvorm.
                Na 1 uur en 10 minuten op 170 graden bakken in de oven is Herman klaar.
            </p>
            
            <p>Smakelijk eten en geniet van je vriendschap!</p>
        </div>
    </div>
</div>


