<div class="jumbotron masthead">
    <div class="container">
        <!--<h1>Devotis</h1>-->
        <p>Devotis helps development and business teams with<br />Full Stack Development and Scrum</p>
        <ul class="masthead-links">
            <li>
                <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Full Stack Development']);"
                   href="#/full-stack-development" alt="Full Stack Development" title="Full Stack Development">FSD</a>
            </li>
            <li>
                <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Scrum']);"
                   href="#/scrum" alt="Scrum" title="Scrum">S</a>
            </li>
            <li>
                <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Google Apps']);"
                   href="#/google-apps" alt="Google Apps" title="Google Apps">GA</a>
            </li>
        </ul>
    </div>
</div>
<!-- Begin page content -->
<div class="container">
    <div class="row">
        <div class="span4">
            <h2>Full Stack Development</h2>

            <p>We employ an array of technologies and techniques for back-end and front-end development.</p>
            <ul>
                <li>Javascript, Node.js, Express, AngularJS, Firebase, AngularFire, Bootstrap</li>
                <li>Github, Git, Yeoman, Bower</li>
                <li>Sencha Ext JS 5, 4 and 3 with or without Sencha Architect</li>
                <li>Microsoft SQL Server, IIS, Classic ASP (JScript)</li>
                <li>HTML, CSS, JSON, REST, XML, AJAX, MVC, SOAP, UML</li>
                <li>Amazon AWS - EC2, S3, CloudFront, SES, SNS, SQS</li>
            </ul>
        </div>
        <div class="span4">
            <h2>Scrum</h2>

            <p>Devotis offers full stack developers who are also certified Professional Scrum Master.</p>
            <p>The Scrum Master facilitates and coaches the development team and helps those outside the Scrum Team to have valuable interactions with the Scrum Team.</p>
        </div>
        <div class="span4">
            <h2>Google Apps</h2>
            <p>As an authorized Google Apps reseller, we help small and large companies to make their transition to Google Apps.</p>
            <p>Google Apps is a cloud-based productivity suite that helps you and your team connect and get work done from anywhere on any device.</p>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <a href="#/full-stack-development" class="btn">Read more »</a>
        </div>
        <div class="span4">
            <a href="#/scrum" class="btn">Read more »</a>
        </div>
        <div class="span4">
            <a href="#/google-apps" class="btn">Read more »</a>
        </div>
    </div>
</div>