<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            <h3>News</h3>
            <hr/>
            <p>Keep up to date through this tweet feed. <a href="#/news-old">Here's</a> old news.</p>
            <a class="twitter-timeline" href="https://twitter.com/Devotisnl" data-widget-id="320255775161335809">Tweets by @Devotisnl</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</div>