<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            <h3>Scrum</h3>
            <hr/>

            <p>Devotis offers full stack developers who are also certified Professional Scrum Master.</p>
            <p>The Scrum Master facilitates and coaches the development team and helps those outside the Scrum Team to have valuable interactions with the Scrum Team.</p>

            <h3>Scrum Master Service to the Product Owner</h3>
            The Scrum Master serves the Product Owner in several ways, including:
            <ul>
                <li>Finding techniques for effective Product Backlog management;</li>
                <li>Helping the Scrum Team understand the need for clear and concise Product Backlog items;</li>
                <li>Understanding product planning in an empirical environment;</li>
                <li>Ensuring the Product Owner knows how to arrange the Product Backlog to maximize value;</li>
                <li>Understanding and practicing agility; and,</li>
                <li>Facilitating Scrum events as requested or needed.</li>
            </ul>
            <h3>Scrum Master Service to the Development Team</h3>
            The Scrum Master serves the Development Team in several ways, including:
            <ul>
                <li>Coaching the Development Team in self-organization and cross-functionality;</li>
                <li>Helping the Development Team to create high-value products;</li>
                <li>Removing impediments to the Development Team’s progress;</li>
                <li>Facilitating Scrum events as requested or needed; and,</li>
                <li>Coaching the Development Team in organizational environments in which Scrum is not yet fully adopted and understood.</li>
            </ul>
            <h3>Scrum Master Service to the Organization</h3>
            The Scrum Master serves the organization in several ways, including:
            <ul>
                <li>Leading and coaching the organization in its Scrum adoption;</li>
                <li>Planning Scrum implementations within the organization;</li>
                <li>Helping employees and stakeholders understand and enact Scrum and empirical product development;</li>
                <li>Causing change that increases the productivity of the Scrum Team; and,</li>
                <li>Working with other Scrum Masters to increase the effectiveness of the application of Scrum in the organization.</li>
            </ul>
        </div>
    </div>
</div>

