<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            <h3>Terms and conditions</h3>
            <hr/>
            <p>All our offers and agreements are subjected to the General Terms and Conditions of Nederland ICT,
                registered at the Chamber of Commerce Midden-Nederland with number 30174840.
            </p>
            <p>Devotis is a registered user of the ICT~Office Conditions.</p>
        </div>

        <div class="span4">
            <h4>Advantages</h4>
            <p>These conditions contribute to the success of ICT projects, by distributing very clearly and fairly the responsibilities and risks between the supplier and the customer.
            </p>
        </div>
        <div class="span4">
            <h4>Structure</h4>
            <p>De Nederland ICT Voorwaarden is één integrale set voorwaarden voor het leveren van producten en het verrichten van diensten o.a. op het gebied van IT, SaaS oplossingen, kantoortechnologie en (de ontwikkeling van) programmatuur en websites. De Nederland ICT Voorwaarden bestaan uit de volgende hoofdstukken:
            <ol>
                <li>Algemene Bepalingen</li>
                <li>Dienstverlening</li>
                <li>Software-as-a-service (SaaS)</li>
                <li>Programmatuur</li>
                <li>Ontwikkeling programmatuur en websites</li>
                <li>Onderhoud van programmatuur en support</li>
                <li>Advisering en Consultancy</li>
                <li>Detacheringsdiensten </li>
                <li>Opleiding en Trainingen</li>
                <li>Hosting</li>
                <li>Koop van apparatuur</li>
                <li>Huur van apparatuur</li>
                <li>Onderhoud van apparatuur</li>
            </ol>
            </p>
        </div>
        <div class="span4">
            <h4>Applicability</h4>
            <p>These conditions are designed so that they can be used for many different products and services in the field of ICT. Nederland ICT Terms and Conditions shall also take into account recent developments in technology. The general conditions also meet the latest situation in legislation and case law in the field of ICT.
            </p>
        </div>
        
        <div class="span12">        
            <ul id="policyModules">
                <li><a href="/media/NederlandICT/Nederland ICT Voorwaarden 2014.pdf">Nederland ICT Voorwaarden 2014.pdf</a></li>
            </ul>
        </div>
    </div>
</div>


