<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            Devotis<br />
            Paul Schuitemastraat 54<br />
            3059 PK  Rotterdam<br />
<br />
            info@devotis.nl<br />
            M: 06 - 2824 0686<br />
            F: 084 - 00 34 34 7<br />
<br />
            KVK: 542.192.48 Rotterdam<br />
<br />            

<i>When I started making content for the website, I was looking at a blank slate.
    At which time, I created this wordle. It's useless but I put it here now anyway.</i><br />
<img src="img/wordle.png">
            
        </div>
    </div>
</div>

