<div class="jumbotron masthead">
    <div class="container">
        <!--<h1>Devotis</h1>-->
        <p>Marketingtechnologie, de motor voor marketingcommunicatie en katalysator voor een doeltreffend creatief proces.</p>
        <ul class="masthead-links">
            <li>
                <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Stoic']);"
                   href="#/services/stoic">STOIC</a>
            </li>
            <li>
                <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Sencha']);"
                   href="#/services/javascript-development">Sencha</a>
            </li>
            <li>
                <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Google Apps']);"
                   href="#/services/google-apps">Google Apps</a>
            </li>
        </ul>
    </div>
</div>
<!-- Begin page content -->
<div class="container">
    <div class="row">
        <div class="span4">
            <h2>STOIC Global Partner</h2>

            <p>We're STOIC's first partner to employ the worlds first STOIC ninja.
                Skills are obtained through obsessive observation and thorough training during the first dojo sessions held by Stoic in Palo Alto, CA, USA.
            </p>
            <p>
                With STOIC you turn spreadsheets into complete web applications, databases and APIs in the cloud with both a rich and responsive UI.
            </p>

            <p><a href="#/services/stoic" class="btn">Lees meer »</a></p>
        </div>
        <div class="span4">
            <h2>Ext JS specialist</h2>

            <p>Sencha's Ext JS is zeer geschikt als library voor uw bedrijfsapplicaties. De voordelen?
                <ul>
                    <li>snelle UI prototyping met Sencha Architect</li>
                    <li>browser compatible web apps</li>
                    <li>gebruiksvriendelijke en intuïtief gebruik</li>
                    <li>constistentie look an and feel</li>
                </ul>
            </p>
            <p><a href="#/services/javascript-development" class="btn">Lees meer »</a></p>
        </div>
        <div class="span4">
            <h2>Google Apps Reseller</h2>
            <p>
                Als geautoriseerde Google Apps reseller helpen we kleine en grote bedrijven hun stap naar de cloud te maken. Maak binnen uw eigen domein gebruik van de volgende diensten in uw browser.
            </p>

            <p><a href="#/services/google-apps" class="btn">Lees meer »</a></p>

        </div>
    </div>
</div>