<div class="jumbotron masthead">
    <div class="container">
        <!--<h1>Devotis</h1>-->
        <p>Marketing technology, the engine for marketing communication and catalyst for an effective creative process.</p>
        <ul class="masthead-links">
            <li>
                <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Stoic']);"
                   href="#/services/stoic">STOIC</a>
            </li>
            <li>
                <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Sencha']);"
                   href="#/services/javascript-development">Sencha</a>
            </li>
            <li>
                <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Google Apps']);"
                   href="#/services/google-apps">Google Apps</a>
            </li>
        </ul>
    </div>
</div>
<!-- Begin page content -->
<div class="container">
    <div class="row">
        <div class="span4">
            <h2>STOIC Global Partner</h2>

            <p>Proud to be STOIC's first partner to employ the worlds first STOIC ninja.
                Skills are obtained through obsessive observation and thorough training during the first dojo sessions held by Stoic in Palo Alto, CA, USA.
            </p>
            <p>
                With STOIC you turn spreadsheets into complete web applications, databases and APIs in the cloud with both a rich and responsive UI.
            </p>

            <p><a href="#/services/stoic" class="btn">Read more »</a></p>
        </div>
        <div class="span4">
            <h2>Ext JS specialist</h2>

            <p>We use Sencha Ext JS to build powerful desktop application with cross-browser compatibility,
                advanced MVC architecture, plugin-free charting, and modern UI widgets.
            </p>
            <p><a href="#/services/javascript-development" class="btn">Read more »</a></p>
        </div>
        <div class="span4">
            <h2>Google Apps Reseller</h2>
            <p>
                Google Apps is a cloud-based productivity suite that helps you and your team connect and get work done from anywhere on any device.
                As an authorized Google Apps reseller, we help small and large companies to make their transition to Google Apps.
            </p>

            <p><a href="#/services/google-apps" class="btn">Read more »</a></p>

        </div>
    </div>
</div>