<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            <h3>Javascript development</h3>
            <hr/>

            <p>Devotis is gespecialiseerd in Javascript, zowel op de client-side als op de server-side.</p>

            <p>Client-side maken we gebruik van het Ext JS framework dat het mogelijk maakt om met gebruik van de Sencha Architect snel UI prototypes te maken.</p>
            De voordelen?
            <ul>
                <li>snelle UI prototyping met Sencha Architect</li>
                <li>browser compatible web apps</li>
                <li>gebruiksvriendelijke en intuïtief gebruik</li>
                <li>scheiding van UI en logic</li>
                <li>Server-side, maken we vooral gebruik van het Microsoft IIS platform. Die ondersteunt het gebruik van Javascript. Hierdoor is het mogelijk om client-side en server side gebruik te maken van 1 programmeertaal.</li>
            </ul>
            <h3>Sencha Development</h3>

            <p>Devotis is geregistreerd in Sencha devs.</p>
            <img src="https://lh4.googleusercontent.com/-da6mR6d1_wk/UFCdHs6NFrI/AAAAAAAAAjk/eCdX0ySyT-U/s400/Sencha%2Bdevs.png">



            <h3>Realiseer uw marketingcampagne</h3>
            <p>U heeft een marketingconcept, ontwerp voor een website en communicatieplan voor de contactmomenten via email, sms en brief?</p>

            <p>Devotis realiseert uw plannen en zorgt voor technische design, bouw, implementatie en documentatie.</p>
            
            <h3>Links</h3>
            <ul>
                <li><a href="http://www.sencha.com/products/extjs/">Ext JS</a>, a JavaScript framework for rich apps in every browser</li>
                <li><a href="http://www.jslint.com/">JSLint</a>, The JavaScript Code Quality Tool</li>
                <li><a href="http://regexpal.com/">regexpal</a>, a JavaScript regular expression tester</li>
                <li><a href="http://jsperf.com/">jsPerf</a>, JavaScript performance playground</li>
                <li><a href="http://json.parser.online.fr/">Json Parser</a></li>
            </ul>
        </div>
    </div>
</div>

