<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            <h3>Klanten</h3>
            <hr/>
            <p>Bij de volgende organisaties heeft Devotis recent succesvol opdrachten uitgevoerd.</p>
            
            <a href="http://www.leadstoloyals.nl" rel="nofollow">
              <img alt="Leads to Loyals" border="0" src="https://lh5.googleusercontent.com/-jRg6ly_AdIw/UF7PaJU-YEI/AAAAAAAAAlM/3zo67q6MsfI/s200/ltol.png" style="display:inline;float:right;margin:5px 10px">
            </a>
            <h4>Leads to Loyals</h4>
            <p>Heeft 25 jaar ervaring in het ontwikkelen, beheren en optimaliseren van grotendeels geautomatiseerde (internationale) loyaliteitsprogramma's, campagne management en marketing automatiseringstrajecten.</p>
            <p>Devotis ontwikkelt, onderhoudt en&nbsp;adviseert over&nbsp;marketingprogramma's en websites voor klanten van Leads to Loyals sinds januari 2012.</p>
            <hr>
            
            <a href="http://www.id-factory.nl" rel="nofollow">
              <img alt="ID-Factory" border="0" src="https://lh4.googleusercontent.com/-mRKLMghzQGM/UI7gx-ZWpGI/AAAAAAAAA54/JgxoPQdAI4M/s400/idfactory.png" style="display:inline;margin:5px 10px;float:right">
            </a>
            <h4>ID Factory</h4>
            <p>Full&nbsp;service online marketingbureau, combineert kennis van online marketing en social media met CRM strategieën die hun waarde in de praktijk hebben bewezen.&nbsp;ID Factory behoort tot de top van full service online marketingbureaus.</p>
            <hr>

            <a href="http://www.insightera.com" rel="nofollow">
              <img border="0" src="https://lh5.googleusercontent.com/-SQdQldG9FPw/UI7gx9aLPVI/AAAAAAAAA5w/vDpOrXi5C30/s400/insightera.png" style="display:inline;margin:5px 10px;float:right">
            </a>
            
            <h4>Insightera</h4>
            <p>Real-time marketing software helps marketers generate more qualified leads and boost revenues.</p>
            <p>Devotis adviseerde en trainde een team van developers in de migratie van een software pakket naar Ext JS, gebruikmakend van de Sencha Architect.</p>
            <hr>

            <a href="http://www.le-pep.nl" rel="nofollow">
                <img border="0" src="https://lh3.googleusercontent.com/-tOFVZfXp7YE/UI7i5dQzPoI/AAAAAAAAA6Y/tWFC5ncdl2A/s400/lepep.png" style="display:inline;margin:5px 10px;float:right">
            </a>
            <h4>Le PEP</h4>
            <p>Vrouwelijke jurkjes met Franse allure in een stoer jasje.</p>
            <p>Devotis adviseerde van april tot en met juli 2012 over de keuze van de webshop software. Juli 2012 stapte Le PEP over naar Google Apps for Business waarvan de configuratie en begeleiding werd verzorgd door Devotis.</p>
              <hr>

            <img border="0" src="https://lh3.googleusercontent.com/-KONAqlUSDZc/UI7h_puWVWI/AAAAAAAAA6I/DH2qJmtce1o/s400/nili.gif" style="display:inline;margin:5px 10px;float:right">
            <h4>Nili</h4>
            <p>conceptbureau en copywriter; ontwikkelaar van innovatieve diensten en producten.</p>

            <p>Devotis configureerde en migreerde Nili naar Google Apps for Business in augustus 2012.</p>
            <hr>

            <a href="http://www.holda.nl" rel="nofollow">
              <img border="0" src="https://lh5.googleusercontent.com/-AgtR7sE8bWA/UI7gx49bZWI/AAAAAAAAA50/Sw7qf6MbyFo/s400/holda.png" style="display:inline;margin:5px 10px;float:right">
            </a>
            <h4>Holda Handelsonderneming</h4>
            <p>Sinds 1990 dé specialist in machines, gereedschappen en werkplaatsinrichting.</p>
            <p>Devotis configureerde en migreerde Holda Handelsonderneming naar Google Apps for Business in september 2012.</p>
        </div>
    </div>
</div>

