<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
<h3>Domeinregistratie</h3>
<hr/>
Devotis werkt samen met OpenProvider voor het registreren, verlengen en verhuizen van domeinen. Hierdoor is het mogelijk tegen minimale kosten en doorlooptijd domeinregistraties, -verlengingen en -verhuizingen te verzorgen voor álle extensies!

Voor de meeste extensies geldt dat de registratie in enkele minuten uitgevoerd kan worden. Wij vragen eenmalig € 25 euro voor de aanvraag van het domein. De jaarlijkse kosten zijn gelijk aan het zeer scherpe inkooptarief van onze partner OpenProvider. De jaarlijkse kosten voor de populaire extensies zijn als volgt:
<ul>
    <li>.nl € 4,95
    <li>.eu  € 4,95
    <li>.be € 4,75
    <li>.com  $ 9,26
    <li>.net  $ 8,91
    <li>.info  $ 9,45
    <li>.nu $ 25,95
    <li>.it € 7,95
    <li>.fr € 7,45
    <li>.es € 5,45
    <li>.de € 5,95
    <li>.co.uk £ 4,95
</ul>
alle ander extensies op aanvraag, maar even snel gerealiseerd.
 (tarieven per jaar excl. btw en facturatie in euro's)

 <h3>SSL certificaten</h3>

Devotis werkt samen met Xolphin om uw SSL certificaten te beheren. SSL certificaten zijn beschikbaar vanaf 12 euro voor een certificaat voor één domeinnaam tot en met 395 euro voor een multi-domain EV certificaat. De implementatiekosten van het SSL certificaat op uw server (in de cloud) is tegen uurtarief.

<h3>Hosting</h3>

Devotis heeft niet haar eigen servers, maar kan uw virtuele server inrichten in de Cloud.            
            
        </div>
    </div>
</div>

