<div class="jumbotron masthead">
    <div class="container">
        <!--<h1>Devotis</h1>-->
        <p>Marketingtechnologie, de motor voor marketingcommunicatie en katalysator voor een doeltreffend creatief proces.</p>
        <ul class="masthead-links">
            <li>
                <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Sencha']);" href="http://github.com/twitter/bootstrap">Sencha</a>
            </li>
            <li>
                <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Stoic']);" href="./getting-started.html#examples">STOIC</a>
            </li>
            <li>
                <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Google Apps']);" href="./extend.html">Google Apps</a>
            </li>
            <li>
                Version 2.3.1
            </li>
        </ul>
    </div>
</div>
<!-- Begin page content -->
<div class="container">
    <div class="row">
        <div class="span4">
            <h2>Sencha specialist</h2>

            <p>Sencha's Ext JS is zeer geschikt als library voor uw bedrijfsapplicaties. De voordelen?
                <ul>
                    <li>snelle UI prototyping met Sencha Architect</li>
                    <li>browser compatible web apps</li>
                    <li>gebruiksvriendelijke en intuïtief gebruik</li>
                    <li>constistentie look an and feel</li>
                </ul>
            </p>
            <p><a href="#" class="btn">Lees meer »</a></p>
        </div>
        <div class="span4">
            <h2>STOIC global partner</h2>

            <p>Wij zijn global partner van STOIC als enige in Nederland.</p>
            <p>Met STOIC maakt u van spreadsheets complete applicaties met database in de cloud en een mobiele gebruikersinterface.</p>

            <p><a href="#" class="btn">Lees meer »</a></p>
        </div>
        <div class="span4">
            <h2>Google Apps reseller</h2>
            <p>
                Als geautoriseerde Google Apps reseller helpen we kleine en grote bedrijven hun stap naar de cloud te maken. Maak binnen uw eigen domein gebruik van de volgende diensten in uw browser.
            </p>

            <p><a href="#" class="btn">Lees meer »</a></p>
        </div>
    </div>
</div>