<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            <h3>Clang</h3>
            <hr>
        </div>
        <div class="span10">
            <p>Clang is een product van E-village dat je in staat stelt multi-channel campagnes in te richten.
            De nadruk ligt op e-mail. Clang stelt een API ter beschikking om data-koppelingen te maken met andere systemen.</p>
            
            <p>Devotis kan u helpen deze koppeling te realiseren.
            Voor Leads to Loyals implementeerde ik data-koppelingen met verschillende loyalty platforms.</p>
        </div>
        <div class="span2">
            <img border="0" src="https://lh6.googleusercontent.com/-QIt8-RNLf7Q/UFDamHmVOkI/AAAAAAAAAko/_eM_g9pW2HY/s1600/clang%2Blogo.png" style="display:inline;margin:5px 10px 0px 0px;float:left">
        </div>
    </div>
</div>

