<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            <h3>Google Apps</h3>
            <hr/>
        </div>
        <div class="span6">
            Devotis helpt kleine en grote bedrijven om hun stap naar de cloud te maken.
            <h3>Communicatieplan</h3>
            Wij hanteren een communicatieplan om de gebruikers ver vooraf, vlak voor en na de migratie te informeren en instrueren om de overstap zo plezierig mogelijk te maken.
            
            <h3>Geen eigen servers</h3>
            U heeft servers op eigen locatie voor kantoorautomatisering, maar zou graag willen migreren naar Google AppsTM? Maak binnen uw eigen domein gebruik van de volgende diensten in uw browser.
            
            <iframe title="YouTube video player" class="youtube-player" type="text/html" src="//www.youtube.com/embed/vNJUL92y9wo?rel=0&amp;wmode=opaque"
                    frameborder="0" allowfullscreen="true" width="425" height="355"></iframe>
        </div>
        <div class="span6">
            <p>Bent u zelfstandige / freelancer / ZZP'er?</p>
            <p>Met een emailadres in uw eigen domein komt u professioneel over bij uw (potentiële) klanten.</p>
            <h3>Kosten</h3>
            <p>Voor de kosten en de moeite hoeft u het niet te laten. Devotis registreert uw domein en koppelt Google Apps binnen enkele dagen. Hierdoor beschikt u over Google Apps for Business en info@eigendomein.nl voor slechts € 3,33 per maand + enkele euro's per jaar voor het domein.</p>

            <p>Gratis inbegrepen in Google Apps is de mogelijkheid zelf uw website te bouwen en te onderhouden met Google Sites en te koppelen aan www.uweigendomein.nl.</p>
            
            <img alt="Google Apps Authorized Reseller" border="0"
                 src="https://lh5.googleusercontent.com/-WtAGLm5II5g/T-bbw5A7BHI/AAAAAAAAAMs/0rf4zUvbgro/s400/authorisedAppsResellerLogo.gif"
                 style="display:inline;margin:5px 10px;float:left">
            <h3>Google Apps Authorized Reseller</h3>
            <p>Devotis is Google Apps Authorized Reseller en kan ervoor zorgen dat uw kantoorautomatisering migreert naar Google Apps for Business.</p>

            <p>Begin direct en neem nu contact op</p>
        </div>        
    </div>
</div>

