<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            <h3>Algemene voorwaarden</h3>
            <hr/>
            <p>Op al onze aanbiedingen en overeenkomsten zijn de ICT~Office Voorwaarden van toepassing,
                gedeponeerd bij de Kamer van Koophandel te Midden-Nederland onder nummer 30174840.
            </p>
            <p>Devotis is geregistreerd gebruiker van de ICT~Office Voorwaarden. </p>
        </div>
        <div class="span4">
            <h4>Structuur</h4>
            <p>Deze voorwaarden bestaan uit één algemene basismodule en zestien specifieke submodules.
                De module 'Algemeen' bevat juridische onderwerpen die voor iedere transactie van belang zijn,
                zoals betalingsafspraken en de bescherming tegen aansprakelijkheid.
                In de specifieke modules zijn één of meerdere bijzondere producten of diensten uitgewerkt.
            </p>
        </div>
        <div class="span4">
            <h4>Toepasbaarheid</h4>
            <p>Deze voorwaarden zijn zo opgezet, dat zij gebruikt kunnen worden voor veel verschillende producten en diensten op het gebied van ICT en kantoortechnologie.
                Tevens houden de ICT~Office Voorwaarden rekening met recente ontwikkelingen op technologisch vlak.
                De algemene voorwaarden beantwoorden eveneens aan de laatste stand van zaken in wetgeving en rechtspraak op het gebied van ICT.
            </p>
        </div>
        <div class="span4">
            <h4>Voordelen</h4>
            <p>Deze voorwaarden leveren een bijdrage aan het welslagen van ICT-projecten,
                onder meer door een duidelijke, faire en marktconforme verdeling van verantwoordelijkheden
                en risico's tussen de leverancier en de klant.
            </p>
        </div>
    </div>
</div>


