<div class="jumbotron masthead">
    <div class="container">
        <!--<h1>Devotis</h1>-->
        <p>Devotis helpt ontwikkelteams en opdrachtgevers met<br />Full Stack Development en Scrum</p>
        <ul class="masthead-links">
            <li>
                <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Full Stack Development']);"
                   href="#/full-stack-development" alt="Full Stack Development" title="Full Stack Development">FSD</a>
            </li>
            <li>
                <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Scrum']);"
                   href="#/scrum" alt="Scrum" title="Scrum">S</a>
            </li>
            <li>
                <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Google Apps']);"
                   href="#/google-apps" alt="Google Apps" title="Google Apps">GA</a>
            </li>
        </ul>
    </div>
</div>
<!-- Begin page content -->
<div class="container">
    <div class="row">
        <div class="span4">
            <h2>Full Stack Development</h2>

            <p>Wij passen diverse technologieën en technieken toe voor back-end tot en met front-end development.</p>
            <ul>
                <li>Javascript, Node.js, Express, AngularJS, Firebase, AngularFire, Bootstrap</li>
                <li>Github, Git, Yeoman, Bower</li>
                <li>Sencha Ext JS 3 en 4, Sencha Architect</li>
                <li>Microsoft SQL Server, IIS, Classic ASP (JScript)</li>
                <li>HTML, CSS, JSON, REST, XML, AJAX, MVC, SOAP, UML</li>
                <li>Amazon AWS - EC2, S3, CloudFront, SES, SNS, SQS</li>
            </ul>
        </div>
        <div class="span4">
            <h2>Scrum</h2>

            <p>Devotis beschikt over full stack developers die tevens gecertificeerd Professioneel Scrum Master zijn.</p>
            <p>De Scrum Master faciliteert en coacht het ontwikkelteam en helpt diegenen buiten het Scrum Team met waardevolle interacties met het Scrum Team.</p>
        </div>
        <div class="span4">
            <h2>Google Apps</h2>

            <p>Als geautoriseerde Google Apps reseller helpen we kleine en grote bedrijven hun stap naar de cloud te maken.</p>
            <p>Google Apps is een krachtig, betaalbaar en onderhoudsvrij pakket voor iedereen. Het is een geïntegreerd pakket voor: Email, agenda, documenten, spreadsheets, presentaties, chatten, video conference, etc.</p>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <a href="#/full-stack-development" class="btn">Lees meer »</a>
        </div>
        <div class="span4">
            <a href="#/scrum" class="btn">Lees meer »</a>
        </div>
        <div class="span4">
            <a href="#/google-apps" class="btn">Lees meer »</a>
        </div>
    </div>    
</div>