<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            <h3>Scrum</h3>
            <hr/>

            <p>Devotis beschikt over full stack developers die tevens gecertificeerd Professioneel Scrum Master zijn.</p>
            <p>De Scrum Master faciliteert en coacht het ontwikkelteam en helpt diegenen buiten het Scrum Team met waardevolle interacties met het Scrum Team.</p>

            <h3>Scrum Master diensten aan de Product Owner</h3>
            De Scrum Master dient de Product Owner op een aantal manieren, waaronder:
            <ul>
                <li>Het vinden van technieken voor een effectief Product Backlog management;</li>
                <li>Het Scrum Team de noodzaak laten inzien om duidelijke en beknopte Product Backlog itemste maken;</li>
                <li>Inzicht verkrijgen in de product planning in een empirische omgeving;</li>
                <li>Ervoor zorgdragen dat de Product Owner weet hoe de Product Backlog te ordenen zodat de maximale waarde verkregen kan worden;</li>
                <li>Inzicht verkrijgen in en het beoefenen van agility; en</li>
                <li>Het faciliteren van Scrum gebeurtenissen wanneer gevraagd of nodig.</li>
            </ul>
            <h3>Scrum Master diensten aan het Ontwikkelteam</h3>
            De Scrum Master dient het Ontwikkelteam op een aantal manieren, waaronder:
            <ul>
                <li>Coachen van het Ontwikkelteam op het vlak van zelforganisatie en multidisciplinair werken;</li>
                <li>Het Ontwikkelteam helpen bij het maken van producten van hoge waarde;</li>
                <li>Het verwijderen van belemmeringen (‘impediments’) in de voortgang van het Ontwikkelteam;</li>
                <li>Het faciliteren van Scrum gebeurtenissen wanneer gevraagd of nodig; en,</li>
                <li>Het coachen van het Ontwikkelteam in organisatorische omgevingen waarbinnen Scrum nog niet volledig is opgenomen en begrepen.</li>
            </ul>
            <h3>Scrum Master diensten aan de Organisatie</h3>
            De Scrum Master dient de organisatie op een aantal manieren, waaronder:
            <ul>
                <li>Het leiden en coachen van de organisatie in haar Scrum adoptie;</li>
                <li>Plannen van Scrum implementaties in de organisatie;</li>
                <li>Helpen van medewerkers en belanghebbenden bij het begrijpen en doorleven van Scrum en empirische productontwikkeling;</li>
                <li>Initiëren van veranderingen die de productiviteit van het Scrum Team verhogen; en,</li>
                <li>Met andere Scrum Masters samenwerken om de effectiviteit van de toepassing van Scrum
                binnen de organisatie te verhogen.</li>
            </ul>
        </div>
    </div>
</div>

