<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            <h3>STOIC</h3>
            <hr/>
            <p>STOIC is een platform as a service (<a href="http://stoic.com/stack/#/questions/131">PaaS</a>)
            waarmee u applicaties (apps) kunt implementeren en draaien.
            Met het STOIC platform ben je in staat apps te configureren in plaats van ze te moeten programmeren.
            Je begint met het importeren van een spreadsheet of het handmatig aanmaken van <a href="http://stoic.com/stack/#/questions/726">objecten</a>.
            Beide doe je middels de gebruikersinterface horende bij de applicatie.</p>
            
            <p>Je STOIC instance wordt compleet vooraf geconfigureerd, onderhouden, bewaakt en geüpgrade door STOIC.</p>

            <img src="https://googledrive.com/host/0Bx3dPnCQn7k4TTFpZ1VQNnRPcVk">
            <i>Dit is de gebruikersinterface horende bij STOIC</i>
   
            <h3>Architectuur</h3>
            <p>Het STOIC platform implementeert een radicale architectuur ontworpen om optimaal te profiteren van de nieuwste cloud-technologieën.
            De meeste componenten zijn gebouwd met behulp van de JavaScript-programmeertaal, met inbegrip van de back-end server,
            die wordt aangedreven door Node.js.
            De gebruikersinterface is geïmplementeerd met behulp van AngularJS, Bootstrap, en een aantal andere bibliotheken (vgl. JavaScript stack).</p>

            <p>Het STOIC platform implementeert 4 vooraf geconfigureerd en onderhouden databases:</p>
            <ul>
                <li>Een SQL database (PostgreSQL) om alle bedrijfsgegevens en meta-data op te slaan</li>​
                <li>Een NoSQL datastore (MongoDB) om alle change logs op te slaan</li>​
                <li>Een key-value store (Redis) om alle gebruikersessies op te slaan</li>​
                <li>Een indexing store (ElasticSearch) om alle andere data eenvoudig vindbaar te maken.</li>​
            </ul>
            
            <p>Zoals gezegd, deze databases zijn van jou. Ze worden niet gedeeld met STOIC users van andere instances.
            Zij hebben hun instance van het platform en jij de jouwe.</p>
            
            <img src="https://googledrive.com/host/0Bx3dPnCQn7k4NlZhcUN1LTJlOWc" style="">
            <i>Dit is een weergave van de architectuur van STOIC</i>

            <h3>Meta-data</h3>

            <p>STOIC is meta-data gedreven waardoor je custom applicaties kan maken op basis van custom datamodellen.
            Er is meta-data
            voor <a href="http://stoic.com/stack/#/questions/394">applicaties</a>
            die bestaan uit <a href="http://stoic.com/stack/#/questions/726">objecten</a>
            gedefinieerd door hun <a href="http://stoic.com/stack/#/questions/724">velden</a>
            met uitbreidbare <a href="http://stoic.com/stack/#/questions/722">datatypes</a>
            en bieden <a href="http://stoic.com/stack/#/questions/1332">gebruikersinterfaces</a>
            met een veelvoud aan<a href="http://stoic.com/stack/#/questions/328">perspectieven</a>
            , <a href="http://stoic.com/stack/#/questions/842">APIs</a>
            , <a href="http://stoic.com/stack/#/questions/803">acties</a>
            , <a href="http://stoic.com/stack/#/questions/449">connectoren</a> voor integratie
            en <a href="http://stoic.com/stack/#/questions/767">widgets</a> voor websites.<p>

            <h3>Widgets</h3>
            <p><a href="http://stoic.com/stack/#/questions/767">Widgets</a> zijn eenvoudige stukjes HTML waarmee webdevelopers
            eigen gebruikersinterfaces kunnen maken. Het STOIC platform als back-end en vrijwel elke webtechnologie als front-end.
            Widgets zijn vergelijkbaar met Facebook Social Plugins of Twitter Widgets,
            en zijn ontworpen om eenvoudig te gebruik.</p>
            
            <p>Bijna elke widget kan gebruikt worden als een enkele regel HTML code in elke HTML pagina.
            Een perfect voorbeeld die de kracht van widgets laat zien is STOIC Answers,
            wat een kloon is van Stackoverflow gebouwd met STOIC als backend en STOIC widgets.</p>
            <img src="/img/widgets-on-answers.png">
            <i>3 Widgets op <a href="http://stoic.com/stack">STOIC Answers</a> in actie.</i>
            
            <h3>APIs</h3>
            Als je een spreadsheet importeert, wordt er een <a href="http://stoic.com/stack/#/questions/726">object</a> (tabel) aangemaakt voor elke sheet
            (inclusief relaties door het combineren van kolomnamen en sheetnamen).
            Een restful CRUD API is <a href="http://stoic.com/stack/#/questions/1411">beschikbaar</a> voor elk
            <a href="http://stoic.com/stack/#/questions/726">object</a> zojuist aangemaakt.
            <a href="http://stoic.com/stack/#/questions/1411">Meer over APIs...</a>
       </div>
    </div>
</div>


