<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            <h3>Algemene voorwaarden</h3>
            <hr/>
            <p>Op al onze aanbiedingen en overeenkomsten zijn de ICT~Office Voorwaarden van toepassing,
                gedeponeerd bij de Kamer van Koophandel te Midden-Nederland onder nummer 30174840.
            </p>
            <p>Devotis is geregistreerd gebruiker van de ICT~Office Voorwaarden. </p>
        </div>
        
        <div class="span4">
            <h4>Voordelen</h4>
            <p>Deze voorwaarden leveren een bijdrage aan het welslagen van ICT-projecten,
                onder meer door een duidelijke, faire en marktconforme verdeling van verantwoordelijkheden
                en risico's tussen de leverancier en de klant.
            </p>
        </div>
        <div class="span4">
            <h4>Structuur</h4>
            <p>Deze voorwaarden bestaan uit één algemene basismodule en zestien specifieke submodules.
                De module 'Algemeen' bevat juridische onderwerpen die voor iedere transactie van belang zijn,
                zoals betalingsafspraken en de bescherming tegen aansprakelijkheid.
                In de specifieke modules zijn één of meerdere bijzondere producten of diensten uitgewerkt.
            </p>
        </div>
        <div class="span4">
            <h4>Toepasbaarheid</h4>
            <p>Deze voorwaarden zijn zo opgezet, dat zij gebruikt kunnen worden voor veel verschillende producten en diensten op het gebied van ICT en kantoortechnologie.
                Tevens houden de ICT~Office Voorwaarden rekening met recente ontwikkelingen op technologisch vlak.
                De algemene voorwaarden beantwoorden eveneens aan de laatste stand van zaken in wetgeving en rechtspraak op het gebied van ICT.
            </p>
        </div>
        
        <div class="span12">        
            <ul id="policyModules">
                <li><a href="/media/ICToffice/ICT~Office Module Algemeen.pdf">ICT~Office Module Algemeen</a></li>
                <li><a href="/media/ICToffice/ICT~Office Module 01 Licentie voor programmatuur.pdf">ICT~Office Module 01 Licentie voor programmatuur</a></li>
                <li><a href="/media/ICToffice/ICT~Office Module 02 Ontwikkeling van programmatuur.pdf">ICT~Office Module 02 Ontwikkeling van programmatuur</a></li>
                <li><a href="/media/ICToffice/ICT~Office Module 03 Onderhoud van programmatuur.pdf">ICT~Office Module 03 Onderhoud van programmatuur</a></li>
                <li><a href="/media/ICToffice/ICT~Office Module 04 Application Service Provision, Software as a Service en Computerservice.pdf">ICT~Office Module 04 Application Service Provision, Software as a Service en Computerservice</a></li>
                <li><a href="/media/ICToffice/ICT~Office Module 05 Ontwikkeling en onderhoud van een website.pdf">ICT~Office Module 05 Ontwikkeling en onderhoud van een website</a></li>
                <li><a href="/media/ICToffice/ICT~Office Module 06 Webhosting.pdf">ICT~Office Module 06 Webhosting</a></li>
                <li><a href="/media/ICToffice/ICT~Office Module 07 Detacheringsdiensten.pdf">ICT~Office Module 07 Detacheringsdiensten</a></li>
                <li><a href="/media/ICToffice/ICT~Office Module 08 Opleidingen en trainingen.pdf">ICT~Office Module 08 Opleidingen en trainingen</a></li>
                <li><a href="/media/ICToffice/ICT~Office Module 09 Advisering, consultancy en projectmanagement.pdf">ICT~Office Module 09 Advisering, consultancy en projectmanagement</a></li>
                <li><a href="/media/ICToffice/ICT~Office Module 10 Overige diensten.pdf">ICT~Office Module 10 Overige diensten</a></li>
                <li><a href="/media/ICToffice/ICT~Office Module 11 Verkoop van ICT-, telecommunicatie- en kantoorapparatuur en andere zaken.pdf">ICT~Office Module 11 Verkoop van ICT-, telecommunicatie- en kantoorapparatuur en andere zaken</a></li>
                <li><a href="/media/ICToffice/ICT~Office Module 12 Verhuur van ICT-, telecommunicatie- en kantoorapparatuur.pdf">ICT~Office Module 12 Verhuur van ICT-, telecommunicatie- en kantoorapparatuur</a></li>
                <li><a href="/media/ICToffice/ICT~Office Module 13 Onderhoud van ICT-, telecommunicatie- en kantoorapparatuur.pdf">ICT~Office Module 13 Onderhoud van ICT-, telecommunicatie- en kantoorapparatuur</a></li>
                <li><a href="/media/ICToffice/ICT~Office Module 14 Toegang tot internet.pdf">ICT~Office Module 14 Toegang tot internet</a></li>
                <li><a href="/media/ICToffice/ICT~Office Module 15 Telecommunicatiediensten.pdf">ICT~Office Module 15 Telecommunicatiediensten</a></li>
                <li><a href="/media/ICToffice/ICT~Office Module 16 Financiering en leasing van ICT.pdf">ICT~Office Module 16 Financiering en leasing van ICT</a></li>
            </ul>
        </div>
    </div>
</div>


