<!-- Begin page content -->
<div class="container headsup">
    <div class="row">
        <div class="span12">
            <h3>Algemene voorwaarden</h3>
            <hr/>
            <p>Op al onze aanbiedingen en overeenkomsten zijn de Nederland ICT Voorwaarden van toepassing,
                gedeponeerd bij de Kamer van Koophandel te Midden-Nederland onder nummer 30174840.
            </p>
            <p>Devotis is geregistreerd gebruiker van de Nederland ICT Voorwaarden.</p>
        </div>
        
        <div class="span4">
            <h4>Voordelen</h4>
            <p>Deze voorwaarden leveren een bijdrage aan het welslagen van ICT-projecten,
                onder meer door een duidelijke, faire en marktconforme verdeling van verantwoordelijkheden
                en risico's tussen de leverancier en de klant.
            </p>
        </div>
        <div class="span4">
            <h4>Structuur</h4>
            <p>De Nederland ICT Voorwaarden is één integrale set voorwaarden voor het leveren van producten en het verrichten van diensten o.a. op het gebied van IT, SaaS oplossingen, kantoortechnologie en (de ontwikkeling van) programmatuur en websites. De Nederland ICT Voorwaarden bestaan uit de volgende hoofdstukken:
            <ol>
                <li>Algemene Bepalingen</li>
                <li>Dienstverlening</li>
                <li>Software-as-a-service (SaaS)</li>
                <li>Programmatuur</li>
                <li>Ontwikkeling programmatuur en websites</li>
                <li>Onderhoud van programmatuur en support</li>
                <li>Advisering en Consultancy</li>
                <li>Detacheringsdiensten </li>
                <li>Opleiding en Trainingen</li>
                <li>Hosting</li>
                <li>Koop van apparatuur</li>
                <li>Huur van apparatuur</li>
                <li>Onderhoud van apparatuur</li>
            </ol>
            </p>
        </div>
        <div class="span4">
            <h4>Toepasbaarheid</h4>
            <p>Deze voorwaarden zijn zo opgezet, dat zij gebruikt kunnen worden voor veel verschillende producten en diensten op het gebied van ICT en kantoortechnologie.
                Tevens houden de Nederland ICT Voorwaarden rekening met recente ontwikkelingen op technologisch vlak. De algemene voorwaarden beantwoorden eveneens aan de laatste stand van zaken in wetgeving en rechtspraak op het gebied van ICT.
            </p>
        </div>
        
        <div class="span12">        
            <ul id="policyModules">
                <li><a href="/media/NederlandICT/Nederland ICT Voorwaarden 2014.pdf">Nederland ICT Voorwaarden 2014.pdf</a></li>
            </ul>
        </div>
    </div>
</div>


